@page "/counter"
@using BlazorWebApp10.Services
@using SpawnDev.BlazorJS
@using SpawnDev.BlazorJS.WebWorkers
@implements IDisposable

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))



<PageTitle>SharedWebWorkerExample</PageTitle>

<h1>SharedWebWorkerExample</h1>

<button class="btn btn-primary" @onclick="async() => _ = Run()">Click me</button>

<pre role="status">@status</pre>


@code {
    [Inject]
    WebWorkerService WebWorkerService { get; set; } = default!;

    private string status = "";
    private ActionCallback<string[]>? actionCallback;

    private async Task Run()
    {
        actionCallback?.Dispose();
        actionCallback = new ActionCallback<string[]>(Callback);
        var sharedWorker = await WebWorkerService.GetSharedWebWorker("Get2");
        await sharedWorker!.Run<ITestService>(s => s.Method1("Hello from main thread", actionCallback));
        //var testService = sharedWorker!.GetService<ITestService>();
        // await testService.Method1("Hello from main thread", Callback);

    }

    private void Callback(string[] message)
    {
        status = message[0];
        Console.WriteLine(status);
        //StateHasChanged();
    }

    public void Dispose()
    {
        actionCallback?.Dispose();
    }
}
